.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;

  button {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    margin: 0 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: $text-gray;
    color: $bg-white;
    border: none;
    border: 1px solid $text-black;

    &:hover {
      background: $text-black;
    }

    &.active {
      background: $text-orange;
    }
  }
}
