.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 8rem;

  button {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #b7b7b7;
    color: #eee;
    border: none;

    &:hover {
      background: #9c9190;
    }

    &.active {
      font-weight: 700;
      background: #ff4d30;
      color: white;
    }
  }
}
