.pets-container {
  max-width: 1500px;
  width: 100%;
  margin-inline: auto;
  .pets {
    display: grid;
    gap: 4rem;

    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 520px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
