.slider {
  margin-top: 4rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .slides {
    width: 100%;
    display: flex;
    gap: 4rem;
  }

  .move {
    display: flex;
    justify-content: space-between;
    margin-block: 2rem;

    .icon {
      font-size: $h3-size;
      cursor: pointer;

      &:hover {
        transform: scale(1.15);
      }
    }
  }
}
