.slider-container {
  max-width: 1500px;
  width: 100%;
  margin-inline: auto;
  margin-top: 10rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .slides {
    width: 100%;
    display: flex;
    gap: 2rem;
  }

  .button-container {
    text-align: center;
    margin-top: 2rem;

    button {
      background: transparent;
      padding: 1rem;
      margin: 1rem;
      color: burlywood;
      border-radius: 10px;
      border: 1px solid burlywood;
      cursor: pointer;
      &:hover {
        background-color: burlywood;
        color: #fff;
      }
    }
  }
}
