@use "../abstracts/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-white;
  font-family: $titles-font;
  position: relative;
}

.container {
  background-color: $bg-gray;
  margin: 8rem auto 0 auto !important;
  max-width: 133rem !important;
  padding: 0 4rem 4rem 4rem !important;
}

// scroll bar ------

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $text-orange $bg-gray;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: $bg-white;
}

*::-webkit-scrollbar-track:hover {
  background-color: $bg-white;
}

*::-webkit-scrollbar-track:active {
  background-color: $bg-gray;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: $text-orange;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: $text-orange;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ff2525;
}
