.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-gray;

  .login-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h3 {
      font-size: $h3-size;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input {
        padding: 0.5rem 1rem;
        font-size: $p-size;
      }

      button {
        background-color: $text-orange;
        color: white;
        padding: 0.7rem;
        font-size: $p-size;
        font-weight: 600;
        border-radius: 5px;
        border: 1px solid $text-black;
        cursor: pointer;

        &:hover {
          background-color: $text-black;
        }
      }
    }

    p {
      text-align: center;
      font-size: 1.3rem;

      a {
        text-decoration: none;
      }
    }
  }
}
