.container {
  display: flex;
  flex-direction: column;

  .bookmark {
    text-align: center;
    margin: 4rem 0 2rem 0;
    font-size: 2rem;
    font-weight: 600;
  }

  img {
    width: 50%;
    margin-inline: auto;
    aspect-ratio: 1/1;
  }
}
