.container {
  &.detail {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .top {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $text-black;
    padding-block: 4rem;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 4rem;
    }
    .img-container {
      position: relative;
      height: fit-content;
      overflow: hidden;
      margin-bottom: 4rem;

      @media (min-width: 768px) {
        width: 50%;
        margin-bottom: 0;
      }

      img {
        width: 100%;
        border: 1px solid $text-black;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }

    .description {
      @media (min-width: 768px) {
        width: 50%;
      }

      .noticeNo {
        width: 100%;
        background-color: $text-orange;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        padding-block: 1rem;
        border: 1px solid $text-black;
      }

      .table {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        font-size: $p-size;

        .row {
          display: grid;
          grid-template-columns: 0.5fr 1fr;
          text-align: center;
          grid-template-rows: auto;
          padding: 0.7rem 0.5rem;
          border-bottom: 1px solid $text-black;
          border-inline: 1px solid $text-black;

          span {
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(1) {
              border-right: 1px solid $text-black;
              font-weight: 600;
            }
            &:nth-child(2) {
              padding-left: 0.5rem;
            }
          }
        }
      }
    }
  }
  .location {
    font-size: $p-size;
    color: $text-black;
    p {
      padding-bottom: 2rem;
      span {
        font-weight: 600;
      }
    }
  }
}
