.likes-container {
  max-width: 1500px;
  width: 100%;
  margin-inline: auto;
  margin-top: 10rem;
  padding-inline: 4rem;

  p {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
