.home-container {
  display: flex;
  max-width: 1500px;
  margin-inline: auto;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 4rem;

  .count {
    text-align: center;
    font-size: 1.5rem;
    color: gray;
  }
}
