.container {
  display: flex;
  max-width: 1800px;
  margin-inline: auto;
  flex-direction: column;
  gap: 4rem;
  // padding-inline: 4rem;

  .count {
    text-align: center;
    font-size: 2rem;
    color: gray;
  }
}
