.like {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ff4d30;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1.5rem;
  right: 1.5rem;

  .heart {
    font-size: 1.5rem;

    &.t {
      color: white;
    }
    &.f {
      color: black;
    }
  }
}
