.description-container {
  width: 90%;
  margin: 6rem auto;
  display: flex;
  gap: 2rem;
  justify-content: space-around;

  .img-container {
    position: relative;
    width: 40%;

    img {
      width: 100%;
    }

    .like-btn {
      font-size: 2rem;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      color: white;
      background-color: #706f7b;
      padding: 1rem 1rem;
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 1.4rem;
      transition: all 0.3s;
      box-shadow: 6px 6px 0 #efe9e9;

      &.active {
        background-color: #ff4d30;
      }

      &:hover {
        background-color: #e9381d;
      }
    }
  }

  .description {
    width: 40%;

    .noticeNo {
      width: 100%;
      background-color: #ff4d30;
      font-size: 1.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      color: white;
      padding: 0.3rem 1.9rem;
      white-space: nowrap;

      span {
        font-size: 2.8rem;
        font-weight: 700;
      }
    }

    .table {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      font-size: 1.4rem;

      .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        grid-template-rows: auto;
        padding: 0.9rem 0.5rem;
        border-bottom: 2px solid #706f7b;
        border-right: 2px solid #706f7b;
        border-left: 2px solid #706f7b;

        span:nth-child(1) {
          border-right: 2px solid #706f7b;
        }
      }
    }
  }
}
