.pets-container {
  .pets {
    display: grid;
    // grid-template-columns: 1fr;
    gap: 1.6rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1280px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
